/* .modal.fade.noshadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: unset;
}
@media screen and (min-width: 1000px){
    .sub-menu-btn{
        display: none;
    }
    .warning-body{
        height: 330px;
        overflow-y: scroll;
    }
    .btn-showdetails{
        display: none;
    }
}
@media screen and (max-width: 400px){
    
    .container-fluid{
        padding-right:0px ;
        padding-left:0px ;
    }
    .btn-graph{
        display: block;
        width: 100%;
        text-align: center;
        margin-top:20px;
        margin-left:10px;
    }
    .sub-menu-btn{
        display: block;
    }
    .warning-body{
        height: auto;
    }
    .btn-showdetails{
        display: block;
        width: 100%;
        margin-top:5px;
        margin-left:10px;
    }
  
} */
.nav-item {
    padding: 5px;
}
@media screen and (max-width: 400px){
    /* .remove-right-nav{
        padding: 0px;
    } */
    .responsive-container{
        padding: 10px;
    }
    .regionpage-btn-graph{
        float: right;
        margin: auto;
    }
}
@media screen and (min-width: 1000px){
    /* .remove-right-nav{
        padding: auto;
    } */
    .regionpage-btn-graph{
        float: right;
        margin: auto;
    }
}