<!-- <div class="modal fade noshadow" id="mainmodal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Manage Order</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                    <input disabled value="I am not editable" id="number" type="text" class="validate">
                    <label for="number">Shop</label>
                </div>
                <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                    <input disabled value="I am not editable" id="cost" type="text" class="validate">
                    <label for="cost">Date</label>
                </div>
            </div>
            <ul class="collapsible expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                                <input disabled value="I am not editable" id="number" type="text" class="validate">
                                <label for="number">Number</label>
                            </div>
                            <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                                <input disabled value="I am not editable" id="cost" type="text" class="validate">
                                <label for="cost">Cost by unit</label>
                            </div>
                            <div class="input-field col col-12 col-sm-12 col-md-12 col-lg-12">
                                <input disabled value="I am not editable" id="total" type="text" class="validate">
                                <label for="total">Total</label>
                            </div>
                            <div class="input-field col col-12 col-sm-12 col-md-12 col-lg-12">
                                <input disabled value="I am not editable" id="description" type="text" class="validate">
                                <label for="description">description</label>
                            </div>
                        </div> 
                    </div>
                </li>
            </ul>
            <button type="button"  class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal"><i class="material-icons">add</i></button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade noshadow" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mySmallModalLabel">Add Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="input-field col col-12 col-sm-12 col-md-12 col-lg-12">
                  <input placeholder="I am not editable" id="add-number" type="text" class="validate">
                  <label for="add-number">Name</label>
                </div>
                <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                    <input placeholder="I am not editable" id="add-number" type="text" class="validate">
                    <label for="add-number">Number</label>
                </div>
                <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                    <input placeholder="I am not editable" id="add-cost" type="text" class="validate">
                    <label for="add-cost">Cost by unit</label>
                </div>
                <div class="input-field col col-12 col-sm-12 col-md-12 col-lg-12">
                    <input placeholder="I am not editable" id="add-total" type="text" class="validate">
                    <label for="add-total">Total</label>
                </div>
                <div class="input-field col col-12 col-sm-12 col-md-12 col-lg-12">
                    <input placeholder="I am not editable" id="add-description" type="text" class="validate">
                    <label for="add-description">description</label>
                </div>
            </div> 
            <div class="row" style="float: right;">
                <button type="button " class="btn btn-secondary btn-lg">ADD</button>
            </div>
          </div>
        </div>
      </div>
  </div>
   -->
  <!-- Full Height Modal Right -->
<div class="modal fade right" id="shoppage-add-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">

<!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
<div class="modal-dialog modal-full-height modal-right" role="document">


  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col col-12 col-sm-12 col-md-12  col-lg-12">
          <h6><b>ชื่อร้าน : </b><span style="font-size: 12px;">test</span></h6> 
        </div>
        <div class="col col-12 col-sm-12 col-md-12  col-lg-12">
          <h6><b>วันที่ : </b><span style="font-size: 12px;">test</span></h6> 
        </div>
      </div>
      <!-- <ul>
        <li> -->
          <div class="card card-body">
            <div class="row">
              <div class="col col-12 col-sm-12 col-md-6  col-lg-6">
                <select class="form-control js-example-tags" id="exampleForm2" style="width: 100%;">
                  <option selected="selected">แอร์การช่าง</option>
                  <option>BB</option>
                  <option>CC</option>
                </select>
              </div>
              <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="def-number-input number-input safari_only">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                  <input class="quantity" min="0" name="quantity" value="1" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
              </div>
              <div class="col col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                <div class="form-group green-border-focus">
                  <!-- <label for="exampleFormControlTextarea5">Colorful border on :focus state</label> -->
                  <textarea class="form-control" id="exampleFormControlTextarea5" rows="2"></textarea>
                </div>
              </div>
              
            </div>
          </div>
          
          
        <!-- </li>
        <li>
          <div class="def-number-input number-input safari_only">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
            <input class="quantity" min="0" name="quantity" value="1" type="number">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
          </div>
        </li>
        <li>
          
        </li>
      </ul>
       -->
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
<style>
  .number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    margin-bottom: 0rem;
  }
  
  .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    text-align: center;
  }
  
  .number-input.number-input {
    border: 1px solid #ced4da;
    width: 150px;
    border-radius: .25rem;
  }
  
  .number-input.number-input button {
    width: 30px;
    height: .7rem;
  }
  
  .number-input.number-input button.minus {
    padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
    max-width: 78px;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
  }
  
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
  
      .number-input.def-number-input.safari_only button:before,
      .number-input.def-number-input.safari_only button:after {
        margin-top: -.3rem;
        
      }
    }
  }
</style>
<script>
  $(".js-example-tags").select2();
</script>