<!-- <div id="addprovince" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-12">
                <h4>Modal Header</h4>
            </div>
        </div>
        <div class="row mb-2" style="margin: 0px 0px 0px 0px;">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">จังหวัด</label>
                    </div>
                </div>
            </form>
        </div> 
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->

  <div class="modal fade" id="settingpage-add-province" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Modal Info</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
            <i class="fas fa-vihara fa-4x mb-3 animated rotateIn"></i>
          <!-- <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i> -->
          
            <div class="md-form mt-0">
                <input type="text" id="shoppage-name" value="" class="form-control">
                <label for="shoppage-name" class="disabled">เพิ่มจังหวัด</label>
            </div>
        
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary">
            ADD
         </button>
         <button type="button" class="btn" data-dismiss="modal">
            CANCLE
         </button>
        
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>