<div id="addshop" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-12">
                <h4>Modal Header</h4>
            </div>
        </div>
        <div class="row mb-2" style="margin: 0px 0px 0px 0px;">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">ชื่อร้าน</label>
                    </div>
                    <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">ขนส่ง</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">ระดับ</label>
                    </div>
                    <div class="input-field col col-12 col-sm-12 col-md-6 col-lg-6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">เบอร์มือถือ</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">ที่อยู่</label>
                    </div>
                </div>
            </form>
        </div> 
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>