<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-9">
                <h4>Modal Header</h4>
            </div>
            <div class="col col-3 text-right">
            
            </div>
        </div>
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-6">
                <canvas id="myChart" width="300" height="350"></canvas>
            </div>
            <div class="col col-6 text-right">
                <div class="col col-12" >
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                        </thead>
                
                        <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                            <td>$0.87</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                            <td>$3.76</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>$7.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>