<!-- <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h4>Modal Header</h4>
            </div>
        </div>
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-12 col-sm-12 col-md-5 col-lg-5">
                <div id="myChart"></div>
            </div>
            <div class="col col-12 col-sm-12 col-md-7 col-lg-7">
                
                    <table>
                        <h5>Table header</h5>
                        <thead>
                        <tr>
                            <th>จังหวัด</th>
                            <th>จำนวนลูกค้า</th>
                        </tr>
                        </thead>
                
                        <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                        </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->

  <div class="modal fade left" id="regionpage-show-graph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info modal-side modal-top-left" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Modal Info</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div id="regionpage-graph"></div>

        <div class="text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt vero illo error eveniet cum.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-info">Get it now <i class="far fa-gem ml-1 white-text"></i></a>
        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">No, thanks</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>