<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h4>Modal Header</h4>
            </div>
            <!-- <div class="col col-3 text-right">
            
            </div> -->
        </div>
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-12 col-sm-12 col-md-5 col-lg-5">
                <div id="myChart"></div>
            </div>
            <div class="col col-12 col-sm-12 col-md-7 col-lg-7">
                <!-- <div class="col col-12" > -->
                    <table>
                        <h5>Table header</h5>
                        <thead>
                        <tr>
                            <th>จังหวัด</th>
                            <th>จำนวนลูกค้า</th>
                        </tr>
                        </thead>
                
                        <tbody>
                        <tr>
                            <td>Alvin</td>
                            <td>Eclair</td>
                        </tr>
                        <tr>
                            <td>Alan</td>
                            <td>Jellybean</td>
                        </tr>
                        <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                        </tr>
                        </tbody>
                    </table>
                <!-- </div> -->
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>