<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="col col-9">
                <h4>Modal Header</h4>
            </div>
            <div class="col col-3 text-right">
            
            </div>
        </div>
        <div class="row" style="margin: 0px 0px 0px 0px;">
            <div class="input-field col s12">
                <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                <label for="disabled">Disabled</label>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>