<nav class="sub-navbar " style="margin-top: 8px;background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);">
    <div class="nav-wrapper">

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">ภูมิภาค</a></li>
        <li><a href="province">จังหวัด</a></li>
        <li><a href="shop">ร้านค้า</a></li>
      </ul>
      
      <div style="text-align: center; " class="sub-menu-btn" >
        <a class="waves-effect waves-light  dropdown-trigger btn " style="background-color: rgba(255, 0, 0, 0);width: 80%;" data-target='dropdown1'><b>Menu</b></a>
      </div>
        <!-- <a class='dropdown-trigger brand-logo center btn sub-dropdown center' style="text-align: center;" href='#' data-target='dropdown1'>Drop Me!</a> -->

      
    </div>
</nav>



  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
      <li><a href="/">ภูมิภาค</a></li>
      <li><a href="province">จังหวัด</a></li>
      <li><a href="shop">ร้านค้า</a></li>
  </ul>