<nav class="sub-navbar " style="margin-top: 8px;background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">
    <div class="nav-wrapper">

      <ul id="nav-mobile" class="left">
        <li><a href="/"><b>ภูมิภาค</b></a></li>
        <li><a href="province"><b>จังหวัด</b></a></li>
        <li><a href="shop"><b>ร้านค้า</b></a></li>
      </ul>
      
      <!-- <div style="text-align: center; " class="sub-menu-btn" >
        <a class="waves-effect waves-light  dropdown-trigger btn " style="background-color: rgba(255, 0, 0, 0);width: 80%;" data-target='dropdown1'><b>Menu</b></a>
      </div> -->
        <!-- <a class='dropdown-trigger brand-logo center btn sub-dropdown center' style="text-align: center;" href='#' data-target='dropdown1'>Drop Me!</a> -->

      
    </div>
</nav>



  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
      <li><a href="/">ภูมิภาค</a></li>
      <li><a href="province">จังหวัด</a></li>
      <li><a href="shop">ร้านค้า</a></li>
  </ul>