{% extends "../region.html" %}
{% load static %}
{% block subcontent %}
<!-- <div class="card">
    <div class="card-content">
      
        <div class="row mb-2">
            <div class="col col-12">
                <h6>จังหวัด</h6>
            </div>
        </div>
        <div class="row mb-2">
            <div class="input-field col-12">
                <select class="form-control js-example-tags" style="width: 100%;">
                    <option selected="selected">เชียงใหม่</option>
                    <option>ชลยุรี</option>
                    <option>กรุงเทพ</option>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <table class="striped">
                <thead>
                  <tr>
                    <th>ร้านค้า</th>
                    <th>ระดับ</th>
                    <th>รอบซื้อล่าสุด</th>
                    <th>ระยะเวลา</th>
                    <th>เบอร์ติดต่อ</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr style="cursor: pointer;">
                    <td>แอร์การช่าง</td>
                    <td>1</td>
                    <td>25/01/63</td>
                    <td>1M</td>
                    <td>089-123-4456</td>
                  </tr>
                  <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                  </tr>
                  <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
</div> -->
<div class="card card-body">
  <h4 class="card-title">Card title</h4>
  <hr>
  <label for="exampleForm2">Default input</label>
  <input type="text" id="exampleForm2" class="form-control">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/province.js' %}"></script>
{% endblock %}