{% extends "../region.html" %}
{% load static %}
{% block subcontent %}
<!-- <ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <div class="row" style="width: 100%;margin-bottom: 0px;">
                <div class="col col-12 col-sm-12 col-md-3 col-lg-3">
                    <i class="material-icons">filter_drama</i>ภาคเหนือ 
                </div>
                <div class="col col-12 col-sm-12 col-md-9 col-lg-9 text-right" >
                    <button class="btn waves-effect waves-light btn-small modal-trigger btn-graph text-center"  data-target="modal1" type="submit" name="action">
                        Graph
                   </button>
                    <button class="btn waves-effect waves-light btn-small btn-showdetails" style="color:black ;background-color: rgba(255, 0, 0, 0);" >
                        <i class="material-icons">arrow_drop_down</i> 
                    </button>
                </div>
            </div>
        </div>
        <div class="collapsible-body">
            <div class="chip regionpage-province">
                เชี่ยงใหม่
            </div>
        </div>
    </li>
    <li>
      <div class="collapsible-header">
        <div class="row" style="width: 100%;margin-bottom: 0px;">
                <div class="col col-12 col-sm-12 col-md-3 col-lg-3">
                    <i class="material-icons">filter_drama</i>ภาคกลาง 
                </div>
                <div class="col col-12 col-sm-12 col-md-9 col-lg-9" style="text-align: right;" >
                    <button class="btn waves-effect waves-light btn-small modal-trigger btn-graph"  data-target="modal1" type="submit" name="action">
                         Graph
                    </button>
                </div>
            </div>
        </div>
        <div class="collapsible-body">
            <select class="js-example-basic-single select2" name="state">
                <option value="AL">Alabama</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
    </li>
    <li>
      <div class="collapsible-header">
        <div class="row" style="width: 100%;margin-bottom: 0px;">
            <div class="col col-12 col-sm-12 col-md-3 col-lg-3">
                <i class="material-icons">filter_drama</i>ภาคตะวันออก 
            </div>
            <div class="col col-12 col-sm-12 col-md-9 col-lg-9" style="text-align: right;" >
                <button class="btn waves-effect waves-light btn-small modal-trigger btn-graph"  data-target="modal1" type="submit" name="action">
                     Graph
                </button>
            </div>
        </div>
    </div>  
        
      <div class="collapsible-body">

      </div>
    </li>
    <li>
        <div class="collapsible-header">
            <div class="row" style="width: 100%;margin-bottom: 0px;">
                <div class="col col-12 col-sm-12 col-md-3 col-lg-3">
                    <i class="material-icons">filter_drama</i>ภาคตะวันตก 
                </div>
                <div class="col col-12 col-sm-12 col-md-9 col-lg-9" style="text-align: right;" >
                    <button class="btn waves-effect waves-light btn-small modal-trigger btn-graph"  data-target="modal1" type="submit" name="action">
                         Graph
                    </button>
                </div>
            </div>
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">
            <div class="row" style="width: 100%;margin-bottom: 0px;">
                <div class="col col-12 col-sm-12 col-md-3 col-lg-3">
                    <i class="material-icons">filter_drama</i>ภาคใต้ 
                </div>
                <div class="col col-12 col-sm-12 col-md-9 col-lg-9" style="text-align: right;" >
                    <button class="btn waves-effect waves-light btn-small modal-trigger btn-graph"  data-target="modal1" type="submit" name="action">
                         Graph
                    </button>
                </div>
            </div>
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul> -->
<div class="card " data-toggle="collapse" href="#multiCollapseExample2" aria-controls="multiCollapseExample2" style="margin-top: 3px;">
    <div class="card-body " >
        <!-- <div class="row"> -->
            ภาคเหนือ <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>

            <!-- <div class="col"> -->
                
            <!-- </div> -->
            
        <!-- </div> -->
        
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample2">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
<div class="card " data-toggle="collapse" href="#multiCollapseExample3" aria-controls="multiCollapseExample3" style="margin-top: 3px;">
    <div class="card-body " >
        ภาคตะวันออก <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample3">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
<div class="card " data-toggle="collapse" href="#multiCollapseExample4" aria-controls="multiCollapseExample4" style="margin-top: 3px;">
    <div class="card-body " >
        ภาคตะวันตก <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample4">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
<div class="card " data-toggle="collapse" href="#multiCollapseExample5" aria-controls="multiCollapseExample5" style="margin-top: 3px;">
    <div class="card-body " >
        ภาคใต้ <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
        
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample5">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
    {% include "component/graph.html"%}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/region.js' %}"></script>
{% endblock %}