{% extends "../region.html" %}
{% load static %}
{% block subcontent %}

<div class="card " data-toggle="collapse" href="#multiCollapseExample2" aria-controls="multiCollapseExample2" style="margin-top: 3px;">
    <div class="card-body " >
            ภาคเหนือ <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample2">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
<div class="card " data-toggle="collapse" href="#multiCollapseExample3" aria-controls="multiCollapseExample3" style="margin-top: 3px;">
    <div class="card-body " >
        ภาคตะวันออก <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
    </div>
    <div class="row">
        <div class="col">
            <!-- <div class=""> -->
                <!-- <div class="p-2 regoinpage-remove-padding"> -->
                    <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample3">
                        <div class=" d-flex flex-wrap">
                            <div class="p-2">
                                <div class="card card-body regionpage-card-item">
                                    <span>เชียงใหม่ <a class="activator waves-effect waves-light mr-4 float-right regionpage-remove-space-item" ><i class="fas fa-times"></i></a></span>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="card card-body regionpage-card-item">
                                    <span>เชียงใหม่ <a class="activator waves-effect waves-light mr-4 float-right regionpage-remove-space-item" ><i class="fas fa-times"></i></a></span>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="card card-body regionpage-card-item">
                                    <span>เชียงใหม่ <a class="activator waves-effect waves-light mr-4 float-right regionpage-remove-space-item" ><i class="fas fa-times"></i></a></span>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="card card-body regionpage-card-item">
                                    <span>เชียงใหม่ <a class="activator waves-effect waves-light mr-4 float-right regionpage-remove-space-item" ><i class="fas fa-times"></i></a></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="p-2">Flex item 2</div>
                <div class="p-2">Flex item 3</div>

                <div class="p-2">Flex item 1</div>
                <div class="p-2">Flex item 2</div>
                <div class="p-2">Flex item 3</div> -->
            <!-- </div> -->
            
        </div>
    </div>
</div>
<div class="card " data-toggle="collapse" href="#multiCollapseExample4" aria-controls="multiCollapseExample4" style="margin-top: 3px;">
    <div class="card-body " >
        ภาคตะวันตก <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample4">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
<div class="card " data-toggle="collapse" href="#multiCollapseExample5" aria-controls="multiCollapseExample5" style="margin-top: 3px;">
    <div class="card-body " >
        ภาคใต้ <button class="btn peach-gradient btn-sm regionpage-btn-graph" data-toggle="modal" data-target="#regionpage-show-graph">Graph</button>
        
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse container" style="margin-top: 10px;margin-bottom: 10px;" id="multiCollapseExample5">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil
                anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
    {% include "component/graph.html"%}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/region.js' %}"></script>
{% endblock %}