{% extends "../region.html" %}
{% load static %}
{% block subcontent %}
<div class="card card-body">
    <h4 class="card-title">Shop</h4>
    <hr>
    <label for="exampleForm2">Default input</label>
    <select class="form-control js-example-tags" id="exampleForm2" style="width: 100%;">
        <option selected="selected">แอร์การช่าง</option>
        <option>BB</option>
        <option>CC</option>
    </select>
        <form style="margin-top: 20px;">
            <div class="row">
                <div class="col">
                    <div class="md-form mt-0">
                        <input type="text" id="shoppage-name" value="สมคิดคาแคร์" class="form-control" disabled>
                        <label for="shoppage-name" class="disabled">ชื่อร้าน :</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form mt-0">
                        <input type="text" id="shoppage-travel" value="ชลบุรีทราเวล" class="form-control" disabled>
                        <label for="shoppage-travel" class="disabled">ขนส่ง :</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="md-form mt-0">
                        <input type="text" id="shoppage-level" value="D" class="form-control" disabled>
                        <label for="shoppage-level" class="disabled">ระดับ :</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form mt-0">
                        <input type="text" id="shoppage-phone" value="0871232132" class="form-control" disabled>
                        <label for="shoppage-phone" class="disabled">เบอร์มือถือ :</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group green-border-focus">
                        <label for="shoppage-location">ที่อยู่ ​:</label>
                        <textarea class="form-control" id="shoppage-location"  value="" rows="3">บ้านป่าสัก หนองกำห่าน</textarea>
                    </div>
                </div>
            </div>

          </form>
        <!-- <input value="John Doe" type="text" id="inputPrefilledEx" class="form-control">
        <label for="inputPrefilledEx">Example label</label>
        <input value="John Doe" type="text" id="inputPrefilledEx" class="form-control">
        <label for="inputPrefilledEx">Example label</label>
        <input value="John Doe" type="text" id="inputPrefilledEx" class="form-control">
        <label for="inputPrefilledEx">Example label</label>
        </div> -->
        
    <!-- </div> -->
    <h5>รายการสั่งซื้อ<button class="btn aqua-gradient btn-sm float-right" data-toggle="modal" data-target="#shoppage-add-order" ><i class="fas fa-plus"></i>  คำสั่งซื้อ</button></h5>
    <table class="table table-striped table-responsive-md btn-table">
        
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
      
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">Button</button>
            </td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">Button</button>
            </td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">Button</button>
            </td>
          </tr>
        </tbody>
      
      </table>
    
    </div>
  </div>
{% endblock %}
{% block modal %}
    
    {% include "component/addorder_shop.html"%}
    {% include "component/showorder.html"%}
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/shop.js' %}"></script>
{% endblock %}